#big_container {
	&.theme-light-watermelon {
		.big-header {
			.container {
				.column:last-of-type {
					text-align: right;
				}
			}
		}

		main {
			padding-top: 0;

			> .container {
				background: #fff;
				padding-bottom: 10em;
			}
		}
	}

	// material override
	body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
		color: $primary_color;
	}
	body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled) .ui-inputswitch-slider {
		background-color: $primary_color;
	}
	.navbar-link:not(.is-arrowless)::after {
		border-color: $primary_color;
	}
}
