<div class="kind-select form-field">
	<form [formGroup]="form">
		<div class="kind-of-poll control">
			<div class="select" *ngIf="template_questions_answers">
				<!--			version maquette questions réponses-->
				<select name="type" id="kind" class="input" formControlName="kind" autofocus>
					<option [value]="'date'">{{ 'creation.kind.date' | translate }}</option>
					<option [value]="'classic'">{{ 'creation.kind.classic' | translate }}</option>
				</select>
			</div>
			<!--		version avec un choix de bouton-->
			<div class="columns" *ngIf="!template_questions_answers">
				<div class="column">
					<button
						class="btn-block btn"
						[ngClass]="{ 'is-primary': form.value.isAboutDate }"
						(click)="
							form.patchValue({
								configuration: {
									isAboutDate: true
								}
							})
						"
					>
						<i class="fa fa-calendar"></i>
						{{ 'creation.kind.date' | translate }}
					</button>
				</div>
				<div class="column">
					<button
						class="btn-block btn btn-default"
						[ngClass]="{ 'is-primary': !form.value.isAboutDate }"
						(click)="
							form.patchValue({
								configuration: {
									isAboutDate: false
								}
							})
						"
					>
						<i class="fa fa-stats"></i>
						{{ 'creation.kind.classic' | translate }}
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
