.white-block {
	background: white;
	margin-bottom: 1rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
}
.favourite {
	max-width: 20em;
}
.poll-anwsers {
	.rounded-block {
		max-width: 20em;
	}
}

.list-of-choices {
	.button {
		.icon {
			margin-right: 1ch !important;
			display: inline-block;
		}
	}

	.choice-label {
		font-size: 1rem;
		color: #383838;
	}

	.choice-header {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
		border-bottom: 1px solid #e2e0fa;
	}

	.max_score {
		color: #128149;
	}
}

.date-label {
	font-size: 1rem;
	color: #383838;
	font-weight: bold;
	margin-bottom: 1.25rem;
}
